<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VideoEditor.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F75D78F8E57AC176BA2385B0487042BDA849CE6C</string>
				<key>dateExpires</key>
				<string>9/18/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F75D78F8E57AC176BA2385B0487042BDA849CE6C</string>
						<key>dateExpires</key>
						<string>9/18/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XSJRRDKMW9</string>
						<key>name</key>
						<string>Gowdhaman Kandasamy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F75D78F8E57AC176BA2385B0487042BDA849CE6C</string>
						<key>dateExpires</key>
						<string>9/18/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XSJRRDKMW9</string>
						<key>name</key>
						<string>Gowdhaman Kandasamy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F75D78F8E57AC176BA2385B0487042BDA849CE6C</string>
						<key>dateExpires</key>
						<string>9/18/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XSJRRDKMW9</string>
						<key>name</key>
						<string>Gowdhaman Kandasamy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F75D78F8E57AC176BA2385B0487042BDA849CE6C</string>
						<key>dateExpires</key>
						<string>9/18/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XSJRRDKMW9</string>
						<key>name</key>
						<string>Gowdhaman Kandasamy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F75D78F8E57AC176BA2385B0487042BDA849CE6C</string>
						<key>dateExpires</key>
						<string>9/18/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XSJRRDKMW9</string>
						<key>name</key>
						<string>Gowdhaman Kandasamy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F75D78F8E57AC176BA2385B0487042BDA849CE6C</string>
						<key>dateExpires</key>
						<string>9/18/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GPUImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XSJRRDKMW9</string>
						<key>name</key>
						<string>Gowdhaman Kandasamy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F75D78F8E57AC176BA2385B0487042BDA849CE6C</string>
						<key>dateExpires</key>
						<string>9/18/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HaishinKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XSJRRDKMW9</string>
						<key>name</key>
						<string>Gowdhaman Kandasamy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F75D78F8E57AC176BA2385B0487042BDA849CE6C</string>
						<key>dateExpires</key>
						<string>9/18/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XSJRRDKMW9</string>
						<key>name</key>
						<string>Gowdhaman Kandasamy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F75D78F8E57AC176BA2385B0487042BDA849CE6C</string>
						<key>dateExpires</key>
						<string>9/18/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Logboard.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XSJRRDKMW9</string>
						<key>name</key>
						<string>Gowdhaman Kandasamy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F75D78F8E57AC176BA2385B0487042BDA849CE6C</string>
						<key>dateExpires</key>
						<string>9/18/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MARKRangeSlider.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XSJRRDKMW9</string>
						<key>name</key>
						<string>Gowdhaman Kandasamy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F75D78F8E57AC176BA2385B0487042BDA849CE6C</string>
						<key>dateExpires</key>
						<string>9/18/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XSJRRDKMW9</string>
						<key>name</key>
						<string>Gowdhaman Kandasamy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F75D78F8E57AC176BA2385B0487042BDA849CE6C</string>
						<key>dateExpires</key>
						<string>9/18/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MediaWatermark.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XSJRRDKMW9</string>
						<key>name</key>
						<string>Gowdhaman Kandasamy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F75D78F8E57AC176BA2385B0487042BDA849CE6C</string>
						<key>dateExpires</key>
						<string>9/18/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Segmentio.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XSJRRDKMW9</string>
						<key>name</key>
						<string>Gowdhaman Kandasamy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F75D78F8E57AC176BA2385B0487042BDA849CE6C</string>
						<key>dateExpires</key>
						<string>9/18/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwipeCellKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XSJRRDKMW9</string>
						<key>name</key>
						<string>Gowdhaman Kandasamy</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XSJRRDKMW9.com.devmotown.videoeditor2</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>XSJRRDKMW9</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>XSJRRDKMW9.com.devmotown.videoeditor2</string>
				</array>
			</dict>
			<key>name</key>
			<string>VideoEditor.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d8427907-ea0b-4a03-8f39-0cdf2075d62a</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: *</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XSJRRDKMW9</string>
				<key>name</key>
				<string>Gowdhaman Kandasamy</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
